.heroSection {
    background-color: #F0F8FF;
}

.topBanner {
    background-color: #00C4FF;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.textContainer {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    animation: slideInRight 1.5s ease forwards;
}

.beforeAfterImage {
    max-width: 100%;
    width: auto;
    height: auto;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .textContainer {
        padding-right: 0;
    }

    .imageContainer {
        margin-top: 20px;
    }

    .mainTitle {
        font-size: 2rem;
    }

    .subTitle {
        font-size: 1.5rem;
    }

    .ctaButton {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}