.heroSection {
    background-color: #F0F8FF;
}

.topBanner {
    background-color: #00C4FF;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    animation: slideInBanner 1.5s ease forwards;
}

.topBanner p {
    font-size: 30px;
    display: inline-block;
}

.bannerButton {
    background-color: #115d74;
    color: rgb(255, 208, 0);
    margin-left: 4%;
    border: none;
    border-radius: 2px 10px 2px 10px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.bannerButton:hover {
    margin-top: 2%;
    background-color: rgb(255, 208, 0);
    color: #115d74;
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 10px white;
}

@keyframes slideInBanner {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.ctaButton{
    background-color: #115d74;
    color: rgb(255, 208, 0);
    border: none;
    border-radius: 2px 10px 2px 10px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.ctaButton:hover {
    background-color: rgb(255, 208, 0);
    color: #000000;
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: 3px 3px 5px 5px orangered;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.textContainer {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    animation: slideInRight 1.5s ease forwards;
}

.beforeAfterImage {
    max-width: 100%;
    width: auto;
    height: auto;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .textContainer {
        padding-right: 0;
    }

    .imageContainer {
        margin-top: 20px;
    }

    .mainTitle {
        font-size: 2rem;
    }

    .subTitle {
        font-size: 1.5rem;
    }

    .ctaButton {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}